// .prettierignore
# Playwright Specific
node_modules/
test-results/
playwright-report
summary.json

# IDE - VSCode
.vscode/*

# System Files
.DS_Store
Thumbs.db
{"mode":"full","isActive":false}

# Docs files
*_spec3.json

# Misc
.husky/
package-lock.json
dist/**/*
build/**/*
**/*.js

.prettierignore
*.env
*.sh
*.png